/* Image Sizes*/

/*
Desktop: 1280x450
Tablet: 1378x800
Mobile: 654x800
*/

/* Variables */

/* Font Families*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  background-color: $--clr-dark-blue;
  font-family: $--body-font;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

/* button {
  background-color: var(--clr-red);
}

button:hover {
  background-color: var(--clr-light-red);
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:$--title-font;
  overflow-wrap: break-word;
}

p {
  overflow-wrap: break-word;
}
ul,
li,
a {
  font: inherit;
  list-style: none;
  text-decoration: none;
  padding: 0;
}

#root,
#__next {
  isolation: isolate;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
