/* Image Sizes*/

/*
Desktop: 1280x450
Tablet: 1378x800
Mobile: 654x800
*/

/* Variables */

:root {
  --darkCyan: #0e8784;
  --darkGreyBlue: #333d4b;
  --darkBlue: #2c343e;
  --paleOrange: #fdd6ba;
  --lightCream: #fefcf7;
  --Grey: #83888f;
  --main-button-default: var(--darkCyan);
  --main-button-hover: #66d2cf;
  --main-button-disabled: #e2dedb;
  --big-select-option-default: #f4f1eb;
  --big-select-option-hover: var(--paleOrange);
  --big-select-option-active: var(--darkCyan);
  --accordion-menu-default: var(--darkCyan);
  --accordion-menu-hover: var(--main-button-hover);
  --title-font: "Fraunces", serif;
  --body-font: "Barlow", sans-serif;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  overflow-wrap: break-word;
}
ul,
li,
a {
  list-style: none;
  text-decoration: none;
  padding: 0;
}

#root,
#__next {
  isolation: isolate;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}