.about {
  color: $--clr-white;

  .info {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 6rem;

    &__main-info {
      margin-bottom: 6rem;

      &__title {
        position: relative;
        font-size: $fs-700;
        margin-bottom: 3rem;

        &::after {
          content: "";
          position: absolute;
          top: 1.5em;
          height: 2px;
          width: 2rem;
          background: $--clr-yellow;
          left: 0.8em;
          transform: translateX(-50%);
          border-radius: 5px;
        }
      }

      &__text-primary {
        font-size: $fs-500;
        display: flex;
        flex-direction: column;
        gap: 2em;
      }
    }
  }

  .skill-info {
    &__skills {
      display: flex;
      flex-wrap: wrap;
      margin-top: 3em;
      gap: 2em;

      &__skill {
        font-size: $fs-600;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.3rem 1.8rem;
        background: $--clr-white;
        color: $--clr-dark-blue;
        border-radius: 5px;
        font-weight: 500;
      }
    }
  }
}

@media (min-width: 37.5em) {
  .about {
    .info {
      grid-template-columns: 1fr 1fr;
      grid-gap: 8rem;
    }

    .info__main-info {
      &__title {
        font-size: $fs-700;
      }

      &__text-primary {
        font-size: $fs-600;
      }
    }

    .about__btn-theme {
      width: 70%;
    }
  }
}

/* Desktop and larger */
@media only screen and (min-width: 75em) {
}
/* Big desktop (4k) */
@media only screen and (min-width: 112.5em) {
}
