.about {
  color: $--clr-white;

  .info {
    grid-template-columns: 1fr;
    grid-gap: 6rem;

    &__main-info {
      margin-bottom: 6rem;

      &__title {
        font-size: $fs-500;
        margin-bottom: 3rem;
      }

      &__text-primary {
        display: flex;
        flex-direction: column;
        gap: 2em;
        margin-bottom: 4rem;
      }
    }
  }

  .skill-info {
    &__skills {
      display: flex;
      flex-wrap: wrap;
      margin-top: 3em;
      gap: 2em;

      &__skill {
        font-size: $fs-base;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.3rem 1.8rem;
        background: $--clr-white;
        color: $--clr-dark-blue;
        border-radius: 5px;
        font-weight: 500;
      }
    }
  }
}

@media (min-width: 37.5em) {
  .about__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8rem;
  }

  .about__btn-theme {
    width: 70%;
  }
}
