.home-hero {
  height: unset;
  min-height: unset;
  max-height: unset;
  color: $--clr-white;
  

  &__content {
    margin: 0 auto;
    padding: 6em 3em;
    animation: downToUp 0.8s;

    &__hero-picture {
      margin-inline: auto;
      margin-bottom: 2em;
      width: 40%;
      height: auto;
    }

    &__heading {
      font-size: $fs-700;
      margin-bottom: 1rem;
      letter-spacing: 1px;
      line-height: 1.3;
    }

    &__sub-heading {
      font-size: $fs-600;
    }
  }
}

/* Tablet portrait and larger */
@media only screen and (min-width: 37.5em) {
  .home-hero {
    min-height: 80rem;
    max-height: 120rem;

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1em;
      max-width: 120rem;
      margin: auto;

      &__hero-picture {
        margin-inline: 0;
        width: 40%;
      }

      &__heading {
        font-size: $fs-900;
      }
    }
  }
}

/* Tablet landscape and larger */
@media only screen and (min-width: 56.25em) {
  .home-hero__content {
    height: 100vh;
    padding: 10em 3em;

    &__hero-picture {
      width: 20%;
    }
  }
}

/* Desktop and larger */
@media only screen and (min-width: 75em) {
  .home-hero__content {
    padding: 9em 1em;
    justify-content: normal;
  }
}
/* Big desktop (4k) */
@media only screen and (min-width: 92.5em) {
    .home-hero__content {
    padding: 15em 1em;
    justify-content: normal;
  }
}
