.header {
  z-index: 10;
  width: 100%;
  background-color: transparent;
  color: $--clr-white;
  padding: 1.25rem 1rem;
}

.nav {
  display: flex;
  align-items: center;

  & .logo-title {
    font-weight: 700;
    font-size: $fs-600;
    margin-left: 1em;

    &::after {
      content: "";
      position: absolute;
      top: 2.2em;
      height: 5px;
      width: 2rem;
      background: $--clr-yellow;
      left: 5em;
      transform: translateX(-50%);
      border-radius: 5px;
    }
  }
}

.links {
  display: none;
}

.mobile-links {
  background-color: $--clr-white;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  position: absolute;
  top: 3.7em;
  left: 0;
  right: 0;
  bottom: auto;
  padding: 2em;
  margin-inline: 0.5em;
  border-radius: 15px;
  font-family: $--body-font;
  font-size: $fs-500;
  color: $--clr-white;
  z-index: 1;

  & .mobile-link {
    position: relative;
    color: $--clr-dark-blue;
  }
}

.hamburger-menu {
  display: block;
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
  border: none;
  background-color: transparent;
  margin-left: auto;

  & .hamburger-menu:focus {
    outline: transparent;
  }
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 3px;
  border-radius: 1.5px;
  background: $--clr-white;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open.hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open.hamburger-middle {
  display: none;
}

.open.hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

/* Tablet portrait and larger */
@media only screen and (min-width: 37.5em) {
  .mobile-links {
    display: none;
  }

  .links {
    display: flex;
    align-items: center;
    margin-left: auto;

    & .link {
      position: relative;
      padding: 1.3rem 2rem;
      font-size: $fs-400;
      color: $--clr-white;

      &:hover::after {
        content: "";
        position: absolute;
        top: 3em;
        height: 3px;
        width: 1.5rem;
        background: $--clr-yellow;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px;
      }
    }
  }

  .hamburger-menu {
    display: none;
  }
}
/* Tablet landscape and larger */
@media only screen and (min-width: 56.25em) {
}

/* Desktop and larger */
@media only screen and (min-width: 75em) {
}
/* Big desktop (4k) */
@media only screen and (min-width: 112.5em) {
}
