.projects {
  color: $--clr-white;

  &__list-item {
    display: grid;
    grid-template-columns: 100%;
    gap: 8rem;
    margin-bottom: 8rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__list-item-img-cont {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  &__list-item-img {
    width: auto;
    height: auto;
    display: block;
  }

  &__list-item-heading-tertiary {
    font-size: $fs-700;
    margin: 5rem 0 2.5rem 0;
  }

  &__list-item-text-primary {
    font-size: $fs-550;
    margin-bottom: 3.7rem;
  }

  &__list-item-text-primary span {
    margin-bottom: 1.5rem;
    display: block;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 37.5em) {
  .projects {
    &__list-item--inv {
      justify-content: flex-end;
    }

    &__list-item-heading-tertiary {
      margin: 5rem 0 3rem 0;
    }

    &__list-item-text-primary {
      margin-bottom: 4rem;
    }
  }
}

@media (min-width: 56.25em) {
  .projects {
    &__list-item {
      gap: 4em;
      grid-template-columns: 60%;
    }
  }
}

@media (min-width: 75em) {
  .projects {
    &__list-item {
      grid-template-columns: 45%;
    }
  }
}